.strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }
  
  .point:last-of-type {
    margin: 0 !important;
  }
  
  .bar {
    background: var(--gray);
    border-radius: 2px;
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    width: 62px;
  }
  .bar:first-child {
    margin-left: 0px;
  }
  .gray {
    background: var(--gray);
  }
  .red {
    background: var(--red);
  }
  .yellow {
    background: var(--yellow);
  }
  .green {
    background: var(--green);
  }
